<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssmtest.dao.CartDao">
    <!-- 根据user_id查询cart的数量-->
    <select id="getCartCountById" resultType="int">
        SELECT IFNULL(SUM(number), 0) FROM cart WHERE user_id=#{user_id}
    </select>
<!--  根据user_id查询cart的信息  -->
    <select id="findBookCartByUserId" resultType="com.ssmtest.entity.CartBook">
        SELECT
            c.cart_id, c.book_id, c.user_id, c.number, c.isSelected, c.buildTime,
            b.book_name, b.author, b.category, b.price, b.stock, b.sale_number, b.main_picture, b.introduce,b.press
        FROM
            cart c
                JOIN
            booklist b ON c.book_id = b.book_id
        WHERE
            c.user_id = #{userId}
    </select>

    <!-- 更新cart信息 -->
    <update id="updateCartSelect" parameterType="com.ssmtest.entity.Cart">
        UPDATE cart SET isSelected = #{isSelected}
        WHERE cart_id = #{cart_id}
    </update>
<!--    购物车直接加减数量-->
    <update id="updateCartNumber" parameterType="com.ssmtest.entity.Cart">
        UPDATE cart SET number = #{number}
        WHERE cart_id = #{cart_id}
    </update>

    <!-- 删除cart -->
    <delete id="deleteMemberCart" parameterType="com.ssmtest.entity.Cart">
        DELETE FROM cart WHERE cart_id = #{cart_id}
    </delete>
    <!--根据user_id和book_id查询购物车信息-->
    <select id="findCartByUserBook" resultType="com.ssmtest.entity.Cart">
        SELECT * FROM cart WHERE user_id=#{user_id} AND book_id=#{book_id}
    </select>
    <!-- 添加cart -->
    <insert id="addBookCart" parameterType="com.ssmtest.entity.Cart">
        INSERT INTO cart (user_id,book_id,number,buildTime)
        VALUES(#{user_id}, #{book_id}, #{number}, #{buildTime})
    </insert>
    <!--    购物车再次添加相同物品-->
    <update id="AddCartNumber" parameterType="com.ssmtest.entity.Cart">
        UPDATE cart SET number =number+ #{number} ,buildTime=#{buildTime}
        WHERE cart_id = #{cart_id}
    </update>
</mapper>