<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssmtest.dao.OrderDao">

    <!-- 查询所有Order -->
    <select id="findAllOrder" resultType="com.ssmtest.entity.Order">
        SELECT * FROM orderlist
    </select>


    <!-- 更新Order order_status信息 -->
    <update id="updateOrder" parameterType="com.ssmtest.entity.Order">
        UPDATE orderlist SET order_status = #{order_status}
        WHERE order_id = #{order_id}
    </update>
    <!-- 更新Order updateSummaryStatus信息 -->
    <update id="updateSummaryStatus" parameterType="com.ssmtest.entity.Order">
        UPDATE orderlist SET summary_status = #{summary_status}
        WHERE order_id = #{order_id}
    </update>

    <!-- 删除Order -->
    <delete id="deleteOrder" parameterType="com.ssmtest.entity.Order">
        DELETE FROM orderlist WHERE order_id = #{order_id}
    </delete>


<!--  获取订单日月信息-->
    <select id="getTodayOrderAdd" resultType="java.lang.Integer">
        SELECT COUNT(*)  FROM orderlist WHERE buildTime >= DATE_SUB(NOW(), INTERVAL 1 DAY)
    </select>
    <select id="getMonthSaleCount" resultType="java.lang.Integer">
        SELECT IFNULL(SUM(number), 0)  FROM orderlist WHERE buildTime >= DATE_SUB(NOW(), INTERVAL 30 DAY) AND  (order_status ="待评价" OR order_status ="已完成");
    </select>
    <select id="getMonthMoney" resultType="java.lang.Integer">
        SELECT IFNULL(SUM(order_money), 0) FROM orderlist WHERE buildTime >= DATE_SUB(NOW(), INTERVAL 30 DAY) AND  (order_status ="待评价" OR order_status ="已完成");
    </select>
    <insert id="addOrderList" parameterType="com.ssmtest.entity.Order">
        INSERT INTO orderlist (user_id, number, order_money, buildTime,remark,delivery,
                               order_address,order_freight,receiver,phone)
        VALUES (#{user_id}, #{number}, #{order_money}, #{buildTime}, #{remark}, #{delivery},
                #{order_address}, #{order_freight}, #{receiver}, #{phone})
    </insert>
    <select id="getOrderIdAfterInsert" parameterType="com.ssmtest.entity.Order" resultType="java.lang.Integer">
        SELECT LAST_INSERT_ID()
    </select>
<!--    插入订单详情-->
    <insert id="addOrderDetail" parameterType="com.ssmtest.entity.OrderDetail">
        INSERT INTO orderdetail (book_id, order_id, detail_number)
        VALUES (#{book_id}, #{order_id}, #{detail_number})
    </insert>
    <!-- 查询订单详细信息，包括订单详情和书籍信息 -->
    <select id="getOrderById" resultType="com.ssmtest.entity.Order">
        SELECT * FROM orderlist where order_id = #{order_id}
    </select>
    <select id="getOrderDetailsWithBooks" resultType="com.ssmtest.entity.OrderDetail">
        SELECT
            od.order_detail_id, od.book_id, od.detail_number,od.order_id,b.stock,
            b.book_name, b.price, b.main_picture
        FROM
            orderdetail od
                JOIN
            orderlist ol ON od.order_id = ol.order_id
                JOIN
            booklist b ON od.book_id = b.book_id
        WHERE
            od.order_id = #{order_id}
    </select>
<!--    更新取消原因-->
    <update id="updateCancelReason" parameterType="com.ssmtest.entity.Order">
        UPDATE orderlist SET cancelReason = #{cancelReason}
        WHERE order_id = #{order_id}
    </update>

    <insert id="addNewLogistics" parameterType="com.ssmtest.entity.Logistics">
        INSERT INTO logistics ( order_id, text, company_name,logistics_number,company_tel,time)
        VALUES ( #{order_id}, #{text}, #{company_name}, #{logistics_number}, #{company_tel}, #{time})
    </insert>
<!--    找到所有物流信息列表-->
    <select id="findLogisticsList" resultType="com.ssmtest.entity.Logistics">
        SELECT * FROM logistics WHERE order_id = #{order_id}
    </select>

<!--    统计各状态下的订单数量-->
    <select id="findCountStatus" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM orderlist WHERE user_id = #{user_id} AND order_status=#{order_status}
    </select>
    <select id="findCountAllByUser" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM orderlist WHERE user_id = #{user_id}
    </select>
    <!--根据用户和订单状态获取orderlist列表-->
    <select id="getOrderBookListByStatus" resultType="com.ssmtest.entity.Order">
        <!-- 使用动态 SQL 标签 -->
        <choose>
            <!-- 当 order_status 不为空时执行此查询 -->
            <when test="order_status != null and order_status != '全部'">
                SELECT *
                FROM orderlist
                WHERE order_status = #{order_status} AND user_id = #{user_id}
                ORDER BY order_id DESC
                LIMIT #{pageSize} OFFSET #{offset}
            </when>
            <!-- 当 order_status 为空时执行此查询 -->
            <otherwise>
                SELECT *
                FROM orderlist
                WHERE user_id = #{user_id}
                ORDER BY order_id DESC
                LIMIT #{pageSize} OFFSET #{offset}
            </otherwise>
        </choose>
    </select>
</mapper>