<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssmtest.dao.UserBookDao">
    <!-- 查询所有book_id -->
    <select id="getBooksByUserId" resultType="Integer">
        SELECT book_id FROM bookcollection where user_id=#{user_id}
    </select>
<!--     获取收藏某本书的用户列表-->
    <select id="getUsersByBookId" resultType="Integer">
        SELECT book_id FROM bookcollection where user_id=#{user_id}
    </select>
<!--    // 获取指定分类的所有书籍-->
    <select id="getBooksByCategory" resultType="com.ssmtest.entity.Book">
        SELECT * FROM booklist where category=#{category}
    </select>
    <select id="getAllUserBookInteractions" resultType="map">
        SELECT user_id, book_id
        FROM bookCollection
    </select>
</mapper>